#container-detail {
  width: 96vw;
  margin: 20vh 0vw 0vh 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container-detail img {
  height: 330px;
  width: 220px;
}
.infos {
  display: flex;
  margin-left: 1rem;
  flex-direction: column;
  justify-content: space-between;
}
.infos h2 {
  margin-bottom: 1rem;
}
